.features-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.feature-card {
  padding: 20px 24px;
  margin-bottom: 16px;
  border: 1px solid #e300ea;
  border-radius: 12px;
  background-color: #f4f3ff;
}

.feature-list {
  display: flex;
  gap: 20px;
}

body {
  color: #292a31;
  font-family: "Noto Sans KR", Arial, sans-serif;
  line-height: 1.6;
}